<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS HW4 P1</title>
    <link rel="stylesheet" href="css/puzzle.css" />
  </head>
  <body>
    <div class="container">
      <div class="red-rectangle right"></div>
      <div class="green-rectangle right"></div>
      <div class="purple-square right"></div>
      <div class="orange-square right"></div>
      <div class="v-blue-rectangle left"></div>
      <div class="red-rectangle left"></div>
      <div class="green-rectangle left"></div>
      <div class="h-blue-rectangle left"></div>
    </div>
  </body>
</html>
