.wrapper {
  padding: 70px;
}
.list {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}
.list__item {
  display: table;
  border: 1px solid #efefef;
  padding: 15px;
}
.list__element {
  display: table-cell;
  vertical-align: top;
}
.list__element--content {
  vertical-align: middle;
  width: 100%;
  padding: 0 15px;
  font-size: 19px;
}
.icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url("../img/icons.png") no-repeat;
}
.icon--smile {
  background-position: -112px -41px;
}
.icon--pen {
  background-position: -112px -77px;
}
.icon--cat {
  background-position: -1px -150px;
}
.status {
  display: inline-block;
  color: #fff;
  line-height: 36px;
  height: 36px;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 3px;
}
.status--approved {
  background-color: #43a047;
}
.status--pending {
  background-color: #e65100;
}
.status--error {
  background-color: #f44336;
}
.circle {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: radial-gradient(#fff,#da8ada);
  background-size: 5px 5px;
  box-shadow: 20px 0 0 rgba(255, 0, 0, 0.4) inset,
    0 20px 0 rgba(0, 255, 0, 0.4) inset,
    0 -20px 0 rgba(0, 0, 255, 0.4) inset,
    -20px 0 0 rgba(255, 255, 0, 0.4) inset;
}